/* audio-book.page.scss */

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* chiều cao tương đương với viewport height */
  position: relative; 
}

.audio {
  position: sticky;
  top: 0;
  // background-color: white; /* Điều này giúp phần tử audio hiển thị đúng khi scroll */
  z-index: 1; /* Đảm bảo phần tử audio ở trên cùng */
  text-align: center;
  padding: 6px; /* Tùy chỉnh giảm khoảng cách nếu cần thiết */
}

audio {
  width: 100%;
  max-width: 300px; /* điều chỉnh kích thước theo ý muốn */
}
