<ion-header>
  <ion-toolbar>
    <ion-title>
      Speech Recognition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let audio of audioList">
      <ion-label>{{ audio.name }}</ion-label>
      <!-- <ion-button (click)="preloadAudio(audio)">Preload</ion-button> -->
      <ion-button (click)="playAudio(audio)">Play</ion-button>
      <ion-button (click)="stopAudio(audio)">Stop</ion-button>
      <!-- <ion-button (click)="unloadAudio(audio)">Unload</ion-button> -->
    </ion-item>
  </ion-list>
</ion-content>
