<ion-header >
  <ion-toolbar >
    <ion-title> Ionic Audio Player </ion-title>
    <ion-button>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="black-background">
  <ion-list>
    <ion-item button *ngFor="let track of playlist" (click)="start(track)">
      <ion-label [color]="track == activeTrack ? 'success' : 'dark'">
        {{ track.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="activeTrack">
  <ion-toolbar>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        {{ activeTrack.name }}
      </ion-col>
      <ion-col size="12">
        <ion-range
          #range
          [(ngModel)]="progress"
          size="small"
          max="100"
          color="success"
          (touchend)="seek()"
          (mouseup)="seek()"
        >
          <ion-icon slot="start" size="small" name="musical-note" class="icon_music"></ion-icon>
          <ion-icon slot="end" name="musical-note" class="icon_music"></ion-icon>
        </ion-range>
      </ion-col>
      <ion-col>
        <div class="timeline">
   
            <p class="currentTime">{{currentTime}}</p>
            <p class="totalDuration">{{totalDuration}}</p>
        
        </div>
      </ion-col>
      
      <ion-col size="12" class="ion-text-center">
        <ion-button fill="clear" (click)="forwardToFirst()" >
          <ion-icon slot="icon-only" name="play-skip-back-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="prev()" >
          <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="restart()" >
          <ion-icon slot="icon-only"  name="refresh-circle-outline"></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          (click)="togglePlayer(false)"
          *ngIf="!isPlaying"
        >
          <ion-icon slot="icon-only" name="play-outline"></ion-icon>
        </ion-button>

        <ion-button
          fill="clear"
          (click)="togglePlayer(true)"
          *ngIf="isPlaying"
        >
          <ion-icon slot="icon-only" name="pause-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="next()" >
          <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="forwardToLast()" >
          <ion-icon
            slot="icon-only"
            name="play-skip-forward-outline"
          ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
