/* audio-player.page.scss */

ion-header {
    color: black ; /* Đặt màu nền cho ion-header */
  }
  
  ion-toolbar {
    color: black; /* Đặt màu nền cho ion-toolbar bên trong ion-header */
  }
  
  ion-title {
    color:  white; /* Đặt màu chữ cho ion-title */
}
.ion-text-center {
    color: white;
}
  