/* audio-player.page.scss */

ion-header {
  color: black; /* Đặt màu nền cho ion-header */
}

ion-toolbar {
  color: black;

  // display: flex; /* Đặt màu nền cho ion-toolbar bên trong ion-header */
}

ion-title {
  color: white; /* Đặt màu chữ cho ion-title */
}
ion-col {
  .icon_music {
    color: white;
  }
  .timeline {
    display: flex;
    justify-content: space-between;
    color: white;
  }
  .currentTime {
    margin-left: 10px;
    margin-top: 0px;
  }
  .totalDuration {
    margin-right: 10px;
    margin-top: 0px;
  }
  p {
    font-size: 13px;
  }
  .stop_pause_button {
    background-color: white;
    width: auto;
    height: auto;
    border: 10px solid rgba(219, 203, 202, 0.5); /* Sử dụng rgba để thiết lập màu với độ trong suốt */
    border-radius: 90% !important;
  }
}

.restart-button-container span {
  color: white;
  margin-left: 5px;
  font-size: 13px;
}
.button_List_Content {
  color: white;
}
.ion-text-center {
  color: white;
}
.ion-text-center_end {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}
.restart-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background-image {
  position: relative;
  height: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  background-color: #888888;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.7);;
  border-radius: 5%;
  display: block;
  opacity: 0.6;
}
.img_content {
  width: 100%;
  height: auto;
  border-radius: 0 0 5% 5% ; /* Đảm bảo ảnh không vượt quá chiều cao của .background-image */
}
.image-content {
  width: 250px;
  height: auto;
  // background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: 0.7;
}
.image-text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  // border-radius: 0 0 5% 5%;
}

.active-paragraph {
  font-weight: bold;
  color: red;
}
.list_textAudio {
  white-space: wrap; /* Ngăn chặn văn bản từ việc xuống dòng */
  // overflow: hidden; /* Ẩn phần văn bản vượt quá kích thước của phần tử */
  text-overflow: ellipsis;
}
