<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <p> <a target="_blank" href="audio-book">Audio</a></p>
    <p> <a target="_blank" href="music-player">music-player</a></p>
    <p> <a target="_blank" href="concat-audio">concat-audio</a></p>
    <p> <a target="_blank" href="text-to-speech">text-to-speech</a></p>

  </div>
</ion-content>
